<a href='https://github.com/angular/angular.js/edit/master/src/ngMock/angular-mocks.js?message=docs(angular.mock.module)%3A%20describe%20your%20change...#L2825' class='improve-docs btn btn-primary'><i class="glyphicon glyphicon-edit">&nbsp;</i>Improve this Doc</a>



<a href='https://github.com/angular/angular.js/tree/master/src/ngMock/angular-mocks.js#L2825' class='view-source pull-right btn btn-primary'>
  <i class="glyphicon glyphicon-zoom-in">&nbsp;</i>View Source
</a>


<header class="api-profile-header">
  <h1 class="api-profile-header-heading">angular.mock.module</h1>
  <ol class="api-profile-header-structure naked-list step-list">
    
    <li>
      - function in module <a href="api/ngMock">ngMock</a>
    </li>
  </ol>
</header>





<div class="api-profile-description">
  <p><em>NOTE</em>: This function is also published on window for easy access.<br>
<em>NOTE</em>: This function is declared ONLY WHEN running tests with jasmine or mocha</p>
<p>This function registers a module configuration code. It collects the configuration information
which will be used when the injector is created by <a href="api/ngMock/function/angular.mock.inject">inject</a>.</p>
<p>See <a href="api/ngMock/function/angular.mock.inject">inject</a> for usage example</p>

</div>




<div>
  

  

  <h2 id="usage">Usage</h2>
    
      <p><code>angular.mock.module(fns);</code></p>


    

    
<section class="api-section">
  <h3>Arguments</h3>

<table class="variables-matrix input-arguments">
  <thead>
    <tr>
      <th>Param</th>
      <th>Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>
        fns
        
        
      </td>
      <td>
        <a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-function">function()</a><a href="" class="label type-hint type-hint-object">Object</a>
      </td>
      <td>
        <p>any number of modules which are represented as string
       aliases or as anonymous module initialization functions. The modules are used to
       configure the injector. The &#39;ng&#39; and &#39;ngMock&#39; modules are automatically loaded. If an
       object literal is passed each key-value pair will be registered on the module via
       <a href="api/auto/service/$provide">$provide</a>.value, the key being the string name (or token) to associate
       with the value on the injector.</p>

        
      </td>
    </tr>
    
  </tbody>
</table>

</section>
    
    

  
  
  



  
</div>


