<a href='https://github.com/angular/angular.js/edit/master/src/ngMock/angular-mocks.js?message=docs(ngMockE2E)%3A%20describe%20your%20change...#L2413' class='improve-docs btn btn-primary'><i class="glyphicon glyphicon-edit">&nbsp;</i>Improve this Doc</a>


<h1>
  <code>ngMockE2E</code>
</h1>



<h2>Installation</h2>


  <p>First, get the file:</p>
  <ul>
    <li>
      <a href="https://developers.google.com/speed/libraries/devguide#angularjs">Google CDN</a> e.g.
      <pre><code>&quot;//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-mocks.js&quot;</code></pre>
    </li>
    <li>
      <a href="https://www.npmjs.com/">NPM</a> e.g.
      <pre><code>npm install --save angular-mocks@X.Y.Z</code></pre>
      or
      <pre><code>yarn add angular-mocks@X.Y.Z</code></pre>
    </li>
    <li>
      <a href="http://bower.io">Bower</a> e.g.
      <pre><code>bower install angular-mocks#X.Y.Z</code></pre>
    </li>
    <li>
      <a href="https://code.angularjs.org/">code.angularjs.org</a>
      (discouraged for production use) e.g.
      <pre><code>&quot;//code.angularjs.org/X.Y.Z/angular-mocks.js&quot;</code></pre>
    </li>
  </ul>
  <p>where X.Y.Z is the AngularJS version you are running.</p>

  <p>Then, include <code>angular-mocks.js</code> in your HTML:</p>

  <pre><code>&lt;script src=&quot;path/to/angular.js&quot;&gt;&lt;/script&gt;&#10;&lt;script src=&quot;path/to/angular-mocks.js&quot;&gt;&lt;/script&gt;</code></pre>

  <p>Finally, load the module in your application by adding it as a dependent module:</p>
  <pre><code>angular.module(&#39;app&#39;, [&#39;ngMockE2E&#39;]);</code></pre>

  <p>With that you&apos;re ready to get started!</p>


<p>The <code>ngMockE2E</code> is an AngularJS module which contains mocks suitable for end-to-end testing.
Currently there is only one mock present in this module -
the <a href="api/ngMockE2E/service/$httpBackend">e2e $httpBackend</a> mock.</p>






<div class="component-breakdown">
  <h2>Module Components</h2>
  
  <div>
    <h3 class="component-heading" id="service">Service</h3>
    <table class="definition-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      
      <tr>
        <td><a href="api/ngMockE2E/service/$httpBackend">$httpBackend</a></td>
        <td><p>Fake HTTP backend implementation suitable for end-to-end testing or backend-less development of
applications that use the <a href="api/ng/service/$http">$http service</a>.</p>
</td>
      </tr>
      
    </table>
  </div>
  
</div>





